/* Сброс стилей по умолчанию */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основной контейнер */
body {
    font-family: Arial, sans-serif;
    background-image: url("../../obrazy/ds.jpg");
    color: #333;
    line-height: 1.6;
}

/* Заголовок */
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: white;
}
header {
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
/* Навигационное меню */
nav {
    background-color: rgba(51, 51, 51, 0.5);
    padding: 5px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    background-color: rgba(51, 51, 51, 0);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 5px;
    border-radius: 5px; /* To round the corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Навигационное меню: при наведении */
nav ul li a:hover {
    background-color: rgba(75, 0, 130, 0);
    transform: translateY(-3px); /* Create the stacked effect */
}

/* Форма */
form {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form label,
form input {
    line-height: 1.5; /* Примерное значение, подберите подходящее */
}

form input {
    width: 100%;
    border-radius: 1px;
    border-color: #cccccc;
    padding: 5px;
}

form input:focus {
    border-color: #333;
    outline: none;
}

form button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(75, 0, 130);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

form button:hover {
    background-color: rgb(75, 0, 130);
}

form p {
    text-align: center;
    margin-top: 20px;
    color: black;
}

form p a {
    color: black;
    text-decoration: none;
}

form p a:hover {

    text-decoration: underline;
    color: blue;
}

/* Ссылки и текст */
a {
    color: #1111;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Cookie Consent Styling */
.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    display: none;
    z-index: 1000;
}

.cookie-consent p {
    margin: 0;
    font-size: 14px;
}

.cookie-consent a {
    color: #ffa500;
    text-decoration: none;
}

.cookie-consent .accept-btn {
    background-color: #ffa500;
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.cookie-consent .accept-btn:hover {
    background-color: #ff8c00;
}

/* Футер */
footer {
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
